<div class="footer-expand-lg py-3 mt-auto">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-body-tertiary">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-basket-fill mx-2" viewBox="0 0 16 16">
                <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0z"/>
              </svg>
        </a>
        <span class="text-muted mx-4">Discover joy in every cart – where style meets savings!</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-5">
                <a class="text-white" href="#">
                    <i class="fab fa-twitter fa-lg text-dark"></i>
                </a>
            </li>
            <li class="ms-5">
                <a class="text-white" href="#">
                    <i class="fab fa-lg fa-instagram text-dark"></i>
                </a>
            </li>
            <li class="ms-5">
                <a class="text-white" href="#">
                    <i class="fab fa-lg fa-facebook text-dark"></i>
                </a>
            </li>
        </ul>
    </footer>
  </div>